body {
    background-image: url("/home/strmtrpr/Desktop/unit_1_project/unit_1_project/images/sci-fi-background-hd-1680x1050-409254.jpg");
    text-align: center;
    font-family: 'Teko', sans-serif;
    
}

header {
    font-family: 'Teko', sans-serif;
    background-color: rgba(0, 126, 109, 0.377);
    padding: 5px;
    border: 3px solid rgba(0, 153, 255, 0.274);
    border-radius: 5px;
}

header h1 {
    font-size: 60px;
    font-weight: 200;
    margin: 0;
}

header h3 {
    font-weight: 100;
    margin-top: 0;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#mainh3 {
    font-size: 30px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
    
}

#crypto-card1, #crypto-card2, #crypto-card3, #crypto-card4 {
    display: flex;
    background-color: rgba(0, 126, 109, 0.377);
    border: 2px solid rgba(0, 153, 255, 0.274);
    border-radius: 3px;
    margin: 5px;
    transition: width 0.3s ease-in-out;
    width: 300px;
    position: relative;
    overflow: hidden;
    font-family: 'Teko', sans-serif;
    
}


#ret, #ret2, #ret3, #ret4 {
    position: absolute;
    width:25%;
    height: 40%;
    text-align: center;
    right: 10px;
    top: 20px;
    background-color: rgba(12, 214, 137, 0.445);
    border-radius: 3px;
    border-color: rgba(0, 153, 255, 0.274);
    font-family: 'Teko', sans-serif;
    line-height: 5px;
}

#col, #col2, #col3, #col4 {
    display: none;
    position: absolute;
    width:15%;
    height: 20%;
    text-align: center;
    right: 10px;
    top: 40%;
    background-color: rgba(12, 214, 137, 0.445);
    border-radius: 3px;
    border-color: rgba(0, 153, 255, 0.274);
    font-family: 'Teko', sans-serif;
    line-height: 5px;
}

 h2 {
    margin-top: 7%;
    margin-left: 4%;
}

#content1, #content2, #content3, #content4 {
    display: none;
    margin-left: 20%;
    font-size: 80%;
    text-align: left;
   

    
}